@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --max-w-8xl: 88rem;
  --max-w-9xl: 96rem;
}

@layer base {
  :root {
    --text: #170d1c;
    --background: #f1e7f4;
    --primary: #542d62;
    --secondary: #cc8fb7;
    --accent: #8f4262;
  }
  :root[preferred-color-scheme="dark"] {
    --text: #ede3f2;
    --background: #150b18;
    --primary: #c49dd2;
    --secondary: #70335d;
    --accent: #bd7090;
  }

  .dark {
    --text: #ede3f2;
    --background: #150b18;
    --primary: #c49dd2;
    --secondary: #70335d;
    --accent: #bd7090;
  }
}

html {
  scroll-behavior:smooth !important
}

body {
  color: var(--text);
  background: var(--background);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.debug {
  border: solid red 1px;
}

.btn {
  @apply flex flex-row items-center justify-center rounded-md min-h-10 min-w-10 cursor-pointer
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
